<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Projects</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="/admin/projects/create" class="btn btn-sm btn-outline-secondary">
                    New Project </a>
            </div>
        </div>
    </div>

    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Alias</th>
                    <th scope="col">Github</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each projects}}
                <tr>
                    <td>
                        <img src="{{this.image}}" height="90" width="90" />
                    </td>
                    <td>
                        <a class="link-underline-light link-opacity-75-hover"
                            href="/admin/projects/{{this.alias}}">{{this.title}}</a>
                    </td>
                    <td>{{this.alias}}</td>
                    <td>
                        <a class="link-underline-light link-opacity-75-hover" href="{{this.githubUrl}}">Github</a>
                    </td>
                    <td><button class="btn btn-sm btn-danger">{{this.status}}</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>