<main>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row g-3">
                <div class="col-md-3 project-sb">
                    <img src="/images/download.jpeg">
                    <div>
                        <hr />
                        <div>
                            <h1>Links</h1>
                            <div class="mb-2">
                                <a class="btn btn-primary" target="_blank" href="{{project.githubUrl}}">Github</a>
                            </div>
                            <div>
                                <a class="btn btn-primary" href="">Live Demo</a>
                            </div>
                        </div>
                        <hr />

                        <div>
                            <h1>Tags</h1>
                            {{#each project.tags}}
                            <span class="badge text-bg-{{this.class}}">{{this.title}}</span>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{project.title}}</li>
                        </ol>
                    </nav>
                    <h1>{{project.title}}</h1>
                    <p>{{project.description}}</p>
                    <img src="{{project.image}}" alt="{{this.title}}" srcset="" />
                </div>

            </div>
        </div>
    </div>
</main>