<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Blogs</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="/admin/blogs/create" class="btn btn-sm btn-outline-secondary">
                    New Blog </a>
                <a href="/admin/blogs/{{blog.alias}}/delete" class="btn btn-sm btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
    {{#if blog}}
    <form action="/admin/blogs/{{blog.alias}}/update" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" value="{{project.name}}" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Alias</label>
                    <input type="text" name="alias" id="name" class="form-control" value="{{project.alias}}" readonly />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Short-Description</label>
                    <input type="text" name="shortDescription" class="form-control" value="{{blog.shortDescription}}" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Blog-Category</label>
                    <input type="text" name="blog-category" class="form-control" value="{{blog.blog-category}}" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Description</label>
                    <textarea type="text" rows="5" name="description" id="description" class="form-control"
                        value="{{blog.description}}">{{blog.description}}</textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Status</label>
                    <select class="form-select form -select-md mb-3" name="status" aria-label="Large select example">
                        <option value="active" {{#checkStatus blog.status "active" }}selected{{/checkStatus}}>Active
                        </option>
                        <option value="inactive" {{#checkStatus blog.status "inactive" }}selected{{/checkStatus}}>
                            Inactive
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Update</button>
    </form>
    {{else}}
    <p>Blog is Not Found</p>
    {{/if}}
</main>